:root {
  --backgroundSection: url(/Images/Weather/Clouds/clouds.jpg);
}

@-webkit-keyframes arrow {
  0% {
    border-right: 2px solid #adadad;
    border-bottom: 2px solid #adadad;
  }
  50% {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }
  100% {
    border-right: 2px solid #adadad;
    border-bottom: 2px solid #adadad;
  }
}

@keyframes arrow {
  0% {
    border-right: 2px solid #adadad;
    border-bottom: 2px solid #adadad;
  }
  50% {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }
  100% {
    border-right: 2px solid #adadad;
    border-bottom: 2px solid #adadad;
  }
}

/*  * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightblue;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

/* Change Autocomplete styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
  font-size: 1.3em;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  padding: 20px 0;
  color: white;
}

@media all and (max-width: 576px) {
  h1 {
    font-size: 2em;
    padding: 20px 20px;
  }
}

.geolocation-denied {
  text-align: center;
  color: white;
  font-size: 1.3em;
}

section:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: var(--backgroundSection);
  background-size: cover;
  height: 100vh;
  -webkit-filter: blur(40px);
          filter: blur(40px);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section .main-weather-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.05))), url(/Images/Weather/Clouds/clouds-2.jpg) center;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url(/Images/Weather/Clouds/clouds-2.jpg) center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 75%;
  height: 550px;
  margin: 70px auto 0;
  border-radius: 5px;
}

@media all and (max-width: 1200px) {
  section .main-weather-container {
    max-width: 80%;
  }
}

@media all and (max-width: 900px) {
  section .main-weather-container {
    max-width: 85%;
  }
}

@media all and (max-width: 576px) {
  section .main-weather-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin: 20px auto 0;
  }
}

@media all and (max-width: 400px) {
  section .main-weather-container {
    max-width: 90%;
  }
}

@media all and (max-width: 350px) {
  section .main-weather-container {
    max-width: 100%;
  }
}

section .main-weather-container .main-weather {
  display: inherit;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
}

@media all and (max-width: 900px) {
  section .main-weather-container .main-weather {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (max-width: 576px) {
  section .main-weather-container .main-weather {
    padding: 50px 0;
  }
}

section .main-weather-container .main-weather_temp {
  font-size: 1.5em;
}

section .main-weather-container .main-weather_temp p:first-child {
  margin-bottom: 10px;
  font-size: 1.8em;
}

@media all and (max-width: 1200px) {
  section .main-weather-container .main-weather_temp p:first-child {
    font-size: 2.3em;
  }
}

@media all and (max-width: 576px) {
  section .main-weather-container .main-weather_temp p:first-child {
    font-size: 2.5em;
  }
}

section .main-weather-container .main-weather_loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5em;
  margin: 0;
}

@media all and (max-width: 1200px) {
  section .main-weather-container .main-weather_loc {
    font-size: 1.2em;
  }
}

section .main-weather-container .main-weather_loc p:first-child {
  font-size: 1.8em;
  margin: 10px;
}

@media all and (max-width: 1200px) {
  section .main-weather-container .main-weather_loc p:first-child {
    font-size: 1.8em;
  }
}

section .main-weather-container .main-weather_cond {
  font-size: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 576px) {
  section .main-weather-container .main-weather_cond {
    font-size: 1.8em;
  }
}

section .main-weather-container .main-weather_cond p:first-child {
  font-size: 1em;
  margin: -20px;
}

section .main-weather-container .main-weather_cond p:last-child {
  text-transform: capitalize;
}

@media all and (max-width: 576px) {
  section .main-weather-container .main-weather_cond p:last-child {
    margin: 0;
  }
}

section .main-weather-container .main-weather p {
  padding: 0 25px;
  text-align: center;
  margin: 0 0 40px;
  color: white;
  line-height: 1.2em;
}

@media all and (max-width: 576px) {
  section .main-weather-container .main-weather p {
    margin: 0 0 50px;
  }
}

section .main-weather-container .weather-info-container {
  max-width: 40%;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 0 5px 5px 0;
  overflow-y: scroll;
}

section .main-weather-container .weather-info-container::-webkit-scrollbar {
  display: none;
}

@media all and (max-width: 900px) {
  section .main-weather-container .weather-info-container {
    max-width: 50%;
  }
}

@media all and (max-width: 576px) {
  section .main-weather-container .weather-info-container {
    max-width: 100%;
    border-radius: 5px;
  }
}

section .main-weather-container .weather-info-container .city-research {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .main-weather-container .weather-info-container .city-research::after {
  content: "";
  width: 60%;
  border-bottom: solid 1.5px white;
  position: absolute;
  left: 4%;
  top: 11%;
  z-index: 1;
  border-radius: 10px;
}

@media all and (max-width: 576px) {
  section .main-weather-container .weather-info-container .city-research::after {
    top: 9%;
  }
}

section .main-weather-container .weather-info-container .city-research input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  outline: none;
  max-width: 50%;
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  color: white;
  background-color: transparent;
}

section .main-weather-container .weather-info-container .city-research input::-webkit-input-placeholder {
  color: #f1f1f1;
}

section .main-weather-container .weather-info-container .city-research input:-ms-input-placeholder {
  color: #f1f1f1;
}

section .main-weather-container .weather-info-container .city-research input::-ms-input-placeholder {
  color: #f1f1f1;
}

section .main-weather-container .weather-info-container .city-research input::placeholder {
  color: #f1f1f1;
}

section .main-weather-container .weather-info-container .city-research button {
  border: none;
  color: white;
  background-color: lightblue;
  padding: 20px 25px;
  border-radius: 0 5px 0 0;
  font-size: 1.1em;
  cursor: pointer;
}

section .main-weather-container .weather-info-container .city-research button:hover {
  opacity: 0.9;
}

section .main-weather-container .weather-info-container h3 {
  text-align: center;
  font-size: 1.6em;
  color: white;
  margin-top: 60px;
}

section .main-weather-container .weather-info-container h3::after {
  content: "";
  width: 30%;
  border-bottom: solid 1.5px white;
  position: absolute;
  left: 35%;
  top: 30%;
  z-index: 1;
  border-radius: 10px;
}

@media all and (max-width: 576px) {
  section .main-weather-container .weather-info-container h3::after {
    top: 24%;
  }
}

section .main-weather-container .weather-info-container p {
  margin: 10px 0;
}

section .main-weather-container .weather-info-container .weather-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  font-size: 1.3em;
  color: white;
}

@media all and (max-width: 900px) {
  section .main-weather-container .weather-info-container .weather-info {
    font-size: 1.2em;
  }
}

section .main-weather-container .weather-info-container .weather-info p:last-child {
  font-weight: bold;
}

section .main-weather-container .weather-info-container .weather-info::after {
  content: "";
  width: 70%;
  border-bottom: solid 1.5px white;
  position: absolute;
  left: 15%;
  top: 80%;
  z-index: 1;
  border-radius: 10px;
}

@media all and (max-width: 576px) {
  section .main-weather-container .weather-info-container .weather-info::after {
    top: 60%;
  }
}

section .main-weather-container .weather-info-container .weather-info span {
  padding-right: 15px;
}

@media all and (max-width: 576px) {
  section .main-weather-container .weather-info-container .weather-info span {
    padding-right: 20px;
  }
}

section .main-weather-container .weather-info-container .weather-forecast {
  margin-top: 20px;
}

section .main-weather-container .weather-info-container .weather-forecast_quarter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  font-size: 1.3em;
  color: white;
}

section .main-weather-container .weather-info-container .weather-forecast_quarter_p {
  display: inherit;
}

section .main-weather-container .weather-info-container .weather-forecast_quarter_icon {
  padding-right: 10px;
  max-width: 35px;
  height: 25px;
}

@media all and (max-width: 576px) {
  section .main-weather-container .weather-info-container .weather-forecast_quarter_icon {
    padding-right: 20px;
    max-width: 45px;
    height: 25px;
  }
}

section .main-weather-container .weather-info-container .weather-forecast_quarter_temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .main-weather-container .weather-info-container .weather-forecast .group-arrow {
  position: -webkit-sticky;
  position: sticky;
  bottom: 4%;
  left: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 0;
  margin: 0 auto;
  color: #f2f2f2;
}

@media all and (max-width: 576px) {
  section .main-weather-container .weather-info-container .weather-forecast .group-arrow {
    display: none;
  }
}

section .main-weather-container .weather-info-container .weather-forecast .group-arrow .arrows {
  -webkit-animation: arrow 5s linear infinite alternate;
          animation: arrow 5s linear infinite alternate;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 2px solid #adadad;
  border-bottom: 2px solid #adadad;
  border-radius: 2px;
  margin: 0 0 -3px -4px;
  width: 15px;
  height: 15px;
}

section .main-weather-container .weather-info-container .weather-forecast .group-arrow .arrows:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

section .main-weather-container .weather-info-container .weather-forecast .group-arrow .arrows:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

section .forecast-multiple-day-container-all {
  margin: 150px auto;
  max-width: 75%;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 60px 40px;
  color: white;
}

@media all and (max-width: 1200px) {
  section .forecast-multiple-day-container-all {
    max-width: 80%;
  }
}

@media all and (max-width: 900px) {
  section .forecast-multiple-day-container-all {
    max-width: 90%;
  }
}

@media all and (max-width: 576px) {
  section .forecast-multiple-day-container-all {
    gap: 80px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section .forecast-multiple-day-container-all::-webkit-scrollbar {
    display: none;
  }
}

@media all and (max-width: 400px) {
  section .forecast-multiple-day-container-all {
    max-width: 96%;
  }
}

@media all and (max-width: 350px) {
  section .forecast-multiple-day-container-all {
    max-width: 100%;
  }
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main {
  border-radius: 5px 5px 0 0;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main h3 {
  text-align: center;
  font-size: 1.4em;
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info_temp {
  font-size: 1.8em;
  margin-top: 25px;
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info_temp p:last-child {
  font-size: 0.7em;
  text-align: center;
  line-height: 1.2em;
  margin-top: 35px;
}

@media all and (max-width: 576px) {
  section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info_temp {
    font-size: 1.7em;
  }
}

@media all and (max-width: 350px) {
  section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info_temp {
    font-size: 1.5em;
  }
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info_weather {
  font-size: 1.3em;
  text-align: center;
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info_weather p:first-child {
  margin: 15px 0;
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info_weather p:last-child {
  text-transform: capitalize;
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info_weather span {
  font-size: 1.8em;
}

@media all and (max-width: 576px) {
  section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info_weather {
    font-size: 1.2em;
  }
}

@media all and (max-width: 350px) {
  section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info_weather {
    font-size: 1.1em;
  }
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info .forecast-multiple-day-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 30px;
  font-size: 1.2em;
}

@media all and (max-width: 576px) {
  section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info .forecast-multiple-day-conditions {
    gap: 0 10px;
    font-size: 1.15em;
  }
}

@media all and (max-width: 350px) {
  section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-main .forecast-multiple-day-main-info .forecast-multiple-day-conditions {
    gap: 0 10px;
    font-size: 1.1em;
  }
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  border-top: 3px solid white;
  border-radius: 0 0 5px 5px;
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-second_div {
  text-align: center;
  font-size: 1.3em;
  margin: auto 15px;
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-second_div_feels {
  font-size: 0.8em;
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-second_div p:last-child {
  margin: 0 auto;
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-second_div p:last-child img {
  width: 80px;
  margin-top: -15px;
}

@media all and (max-width: 576px) {
  section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-second_div {
    margin: auto 5px;
    font-size: 1.15em;
  }
}

@media all and (max-width: 400px) {
  section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-second_div {
    margin: auto 2px;
  }
}

@media all and (max-width: 350px) {
  section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-second_div {
    margin: auto 0;
    font-size: 1.1em;
  }
}

section .forecast-multiple-day-container-all .forecast-multiple-day-container .forecast-multiple-day-second_div span {
  font-size: 1.6em;
}

footer .signature {
  text-align: center;
  color: white;
  font-size: 1.1em;
}

footer .signature a {
  text-decoration: none;
  color: lightblue;
}

footer .signature a:hover {
  color: white;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}
/*# sourceMappingURL=style.css.map */